<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HR Aspire</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <AuthorizeView Roles="@BusinessConstants.ManagerAndHrManagerRoles">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/employees">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Employees
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="@BusinessConstants.HrManagerRole">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/salary-requests">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Salary Requests
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/change-password">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Change Password
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>
