@page "/document-update/{id:int}"

@attribute [Authorize]

@inject DocumentsApiClient DocumentsApiClient
@inject NavigationManager NavigationManager

<!-- TODO: add <PageTitle> to all pages -->

<h1>Update Document</h1>
<hr />

@if (Input is not null)
{
    <div class="row">
        <div class="col-md-4">
            <section>
                <StatusMessage Message="@ErrorMessage" IsError="true" />
                <EditForm Model="Input" OnValidSubmit="UpdateDocumentAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" role="alert" />
                    <div class="form-floating mb-3">
                        <InputText @bind-Value="Input.Title" class="form-control" aria-required="true" placeholder="title" />
                        <label for="title" class="form-label">Title</label>
                        <ValidationMessage For="() => Input.Title" class="text-danger" />
                    </div>
                    <div class="form-floating mb-3">
                        <InputTextArea @bind-Value="Input.Description" class="form-control" placeholder="description" />
                        <label for="description" class="form-label">Description</label>
                        <ValidationMessage For="() => Input.Description" class="text-danger" />
                    </div>
                    <div class="mb-3">
                        <InputFile OnChange="OnFileChangedAsync" class="form-control form-control-lg" />
                    </div>

                    <div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Update</button>
                    </div>
                </EditForm>
            </section>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private DocumentUpdateRequestModel? Input { get; set; }

    private string? ErrorMessage { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var document = await this.DocumentsApiClient.GetDocumentAsync(this.Id);
        this.Input = document?.ToUpdateRequestModel();
    }

    private async Task UpdateDocumentAsync()
    {
        this.ErrorMessage = null;

        var errorMessage = await this.DocumentsApiClient.UpdateDocumentAsync(this.Id, this.Input!);
        if (string.IsNullOrWhiteSpace(errorMessage))
        {
            this.NavigationManager.NavigateTo($"/documents/{this.Id}");
        }
        else
        {
            this.ErrorMessage = errorMessage;
        }
    }

    // TODO: Validate file allowed using file extension
    private async Task OnFileChangedAsync(InputFileChangeEventArgs ev)
    {
        this.ErrorMessage = null;

        if (ev.File is null)
        {
            return;
        }

        try
        {

            await using var memoryStream = new MemoryStream();
            await ev.File.OpenReadStream(Constants.DocumentMaxFileSizeInB).CopyToAsync(memoryStream);
            this.Input!.FileContent = memoryStream.ToArray();
        }
        catch (Exception)
        {
            this.ErrorMessage = $"Max document file size is {Constants.DocumentMaxFileSizeInMB} MB.";
            return;
        }

        if (this.Input.FileContent.Length > 0)
        {
            this.Input.FileName = ev.File.Name;
        }
        else
        {
            this.ErrorMessage = "Document file cannot be empty.";
        }
    }
}
