@if (!string.IsNullOrEmpty(Message))
{
    <div class="@MessageCssClass" role="alert">
        @Message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    [Parameter]
    public bool IsError { get; set; }

    private string MessageCssClass => this.IsError ? "alert alert-danger" : "alert alert-success";
}
