@page "/change-password"

@attribute [Authorize]

@inject AccountApiClient AccountApiClient
@inject NavigationManager NavigationManager

<PageTitle>Change Password - HR Aspire</PageTitle>

<h1>Change Password</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <section>
            <StatusMessage Message="@ErrorMessage" IsError="true" />
            <EditForm Model="Input" OnValidSubmit="ChangePasswordAsync">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-floating mb-3">
                    <InputText type="password"
                               @bind-Value="Input.OldPassword"
                               class="form-control"
                               autocomplete="current-password"
                               aria-required="true"
                               placeholder="old password" />
                    <label for="old-password" class="form-label">Old Password</label>
                    <ValidationMessage For="() => Input.OldPassword" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password"
                               @bind-Value="Input.NewPassword"
                               class="form-control"
                               autocomplete="current-password"
                               aria-required="true"
                               placeholder="new password" />
                    <label for="new-password" class="form-label">New Password</label>
                    <ValidationMessage For="() => Input.NewPassword" class="text-danger" />
                </div>
                <div class="form-floating mb-3">
                    <InputText type="password"
                               @bind-Value="Input.ConfirmNewPassword"
                               class="form-control"
                               autocomplete="current-password"
                               aria-required="true"
                               placeholder="confirm old password" />
                    <label for="confirm-new-password" class="form-label">Confirm New Password</label>
                    <ValidationMessage For="() => Input.ConfirmNewPassword" class="text-danger" />
                </div>

                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Change</button>
                </div>
            </EditForm>
        </section>
    </div>
</div>

@code {
    private string? ErrorMessage { get; set; }

    private ChangePasswordRequestModel Input { get; set; } = new();

    private async Task ChangePasswordAsync()
    {
        this.ErrorMessage = await this.AccountApiClient.ChangePasswordAsync(this.Input);
        if (string.IsNullOrWhiteSpace(this.ErrorMessage))
        {
            this.NavigationManager.NavigateTo("/");
        }
    }
}
