@page "/forgotten-password"

@inject AccountApiClient AccountApiClient
@inject NavigationManager NavigationManager

<PageTitle>Forgot your password?</PageTitle>

<h1>Forgot your password?</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <StatusMessage Message="@ErrorMessage" IsError="true" />
        <EditForm Model="Input" OnValidSubmit="SendForgottenPasswordEmailAsync">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email"
                           class="form-control"
                           autocomplete="username"
                           aria-required="true"
                           placeholder="name@example.com" />
                <label for="email" class="form-label">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset password</button>
        </EditForm>
    </div>
</div>

@code {
    private string? ErrorMessage { get; set; }

    private ForgottenPasswordRequestModel Input { get; set; } = new();

    private async Task SendForgottenPasswordEmailAsync()
    {
        var sent = await this.AccountApiClient.SendForgottenPasswordEmailAsync(this.Input);
        if (sent)
        {
            this.NavigationManager.NavigateTo("/forgotten-password-confirmation");
        }
        else
        {
            this.ErrorMessage = "An unexpected error has occurred. Please try again later.";
        }
    }
}
